[Unit]
Description=Service to launch node-red program

[Service]
User=node-red
Group=node-red
ExecStart=/home/node-red/n/bin/node /home/node-red/node_modules/node-red/red.js
WorkingDirectory=/home/node-red/node_modules
Restart=on-failure
KillSignal=SIGINT
EnvironmentFile=/home/node-red/Environment

[Install]
WantedBy=multi-user.target
