[Unit]
Description=Ratchet Discovery Agent
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=60s
Environment="AVAHI_COMPAT_NOWARN=1"
WorkingDirectory=/home/agent/HeadlessAgent
ExecStart=/home/agent/n/bin/node /home/agent/HeadlessAgent/ratchet-agent.js

[Install]
WantedBy=multi-user.target
